*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F9F9F9;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.open{
    display: flex !important;

}
  
.burger{
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
    z-index: 50;
    float: right;
    width: 30px;
    height: 18px;
}

.burger::before,
.burger::after,
.burger span {
  position: absolute;
  content: '';
  height: 2px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease;
}

.burger-logo{
    display: none;
}

.burger::before {
  top: -6px;
  width: 100%;
}

.burger::after {
  bottom: -6px;
  width: 100%;
}

.burger span {
  top: 50%;
  margin-left: 20%;
  transform: translateY(-50%);
}

.burger.active::before {
    transform: rotate(45deg) translate(0, -50%);
    top: 50%;
  }
  
  .burger.active::after {
    transform: rotate(-45deg) translate(0, -50%);
    top: 50%;
  }
  
  .burger.active span {
    display: none;
  }



nav{
    position: relative;
    height: 97px;
    padding-top: 48px;
}

.nav__list{
    display: flex;
    align-items: baseline;
}

.logo{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #0A8077;
}

.nav__item{
    margin-left: 5.12%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.nav__item:nth-child(2) {
    margin-left: 30%;
    
}

.nav__item:last-child {
    margin-left: 4%;
}

.nav__item__link{
    color: #404040;
}

.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.nav__item__link__button{
    border: 1px solid #0A8077;
    border-radius: 8px;
    padding: 1rem 2.5rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0A8077;
}

.nav__item__link__button:hover{
    background-color: #0A8077;
    color: white;
    box-shadow: 0px 0px 3px 1px rgba(10, 128, 119, 0.4);
}

.nav__item__link-active.active {
    color: #0A8077;
    border-bottom: 2px solid #0A8077;
}


.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 920px;
    max-height: 102px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.form__label {
    margin-bottom: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;    
    
    color: rgba(0, 0, 0, 0.57);
}
  
.header-wrapper-mobile__image{
    display: none;
}
  
.form__button {
    padding: 23px 33px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 70px;
    margin-right: 15px;
    transition: background-color 0.2s ease-in-out;
}

.form__button:hover{
    background-color: rgb(71, 179, 152);
    color: #000000;;
    box-shadow: 0px 0px 3px 1px rgba(10, 128, 119, 0.4);
}

.button{
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: #0A8077;
    border: none;
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.42);
    border-radius: 8px;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 21px 0 24px 0;
}

.form-group:first-child{
    padding-left: 26px;
}

.form__input{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #404040;
    padding: 0;
    margin: 0;
    border: none;
}


input[type=date] {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #404040;
    padding: 0;
    margin: 0;
    border: none;
}

#date{
    max-width: 135px;
}

.form-line{
    padding: 0 28px;
}


.header-wrapper{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 720px;
}


.header-wrapper__content{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.header-wrapper__image{
    display: block;
    height: 100%;
    max-width: 45%;
}

.header-label{
    margin-top: 54px;
    max-width: 224px;
    height: 7.2%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.13);
    border-radius: 6px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0A8077;
}


.header-title{
    margin-top: 39px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 60px;
    line-height: 141.02%;
    color: #404040;
}

.header-title span{
    color: #0A8077;
}

.header-description{
    margin-top: 39px;
    max-width: 88%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 164%;
    color: rgba(64, 64, 64, 0.9);
}

.form{
    position: absolute;
    top: 68%;

}

.our-services__title{
    max-width: 778px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #000000;
    text-align: center;
}

.our-services{
    margin-top: 97px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.our-services__wrapper{
    display: flex;
}

.our-services__card{
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.13);
}

.our-services__card:nth-child(2){
    margin-top: 67px;
}


.our-services__card-column{
    max-width: 50%;
    margin-top: 54px;
}

.our-services__card-column:last-child{
    margin-left: 26.5px;
}

.our-services__card-column:first-child{
    margin-right: 26.5px;
}

.our-services__card-title{
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 155.13%;
    color: #000000;
}

.our-services__card-description{
    max-width: 70%;
    margin-top: 12px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 164%;
    color: #404040;
}

.card-number{
    padding: 11px 28px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.card-content{
    padding: 25px 28px;
}

.our-facilities{
    margin-top: 144px;
}

.our-facilities__wrapper{
    display: flex;
    min-width: 0;
    position: relative;
    margin-top: 53px;
}

.our-facilities__item{
    margin-top: 55px;
    padding-right: 20px;
    width: 235px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}


.our-facilities__title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;

}

.our-facilities__card{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.13);
    max-width: 390px;
    margin-left: 40px;
}

.card-image{
    padding: 30px;
}



.card-title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-left: 30px;
}

.card-description{
    margin: 20px 0 0 30px;
    padding-bottom: 52px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(62, 62, 62, 0.7);

}

.card-price{
    margin-right: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #0A8077;
}

.our-facilities__links-column{
    z-index: 10;
    background-color: #F9F9F9;
}

.slider:not(.slider-active) {
    display: none;
}

.reviews{
    margin-top: 97px;
}

.reviews-slider{
    margin-top: 54px;
}

.reviews-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #000000;
}
 
.reviews-slider{
    max-width: 100%;
    negative: 54px;
}

.reviews__card{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.13);
    max-width: 100%;
}

.reviews__card-content{
    display: flex;
}

.reviews__card-image{
    padding: 26px 0 26px 26px;
}

.reviews__card-text{
    display: flex;
    flex-direction: column;
    padding-top: 67px;
    margin-left: 33px;
}

.quotes{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    color: #0A8077;
}

.review__text{
    max-width: 695px;
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 42px;
    line-height: 54px;
    color: #000000;
}

.user-name{
    margin-top: 33px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #404040;
}

.user-status{
    margin-top: 9px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: rgba(64, 64, 64, 0.7);
}


.subscribe-to__text{
    margin: 0 auto;
    max-width: 647px;
    align-items: center;
}

.subscribe-to__title{
    margin-top: 59px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 60px;
    line-height: 141.02%;
    text-align: center;
    color: #0A8077;
}

.subscribe-to__description{
    margin-top: 26px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    line-height: 140.19%;
    text-align: center;
    color: rgba(64, 64, 64, 0.65);
}

.subscribe-to__form{
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.subscribe-to__input{
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    margin-left: 31px;
}

.subscribe-to__input:focus {
    outline: none;
    border-color: white;
}
  
  
.input-field-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 100%;
    height: 102px;
}

.subscribe-to{
    margin-top: 100px;
}
  
  
.subscribe-to__input[type="text"]::placeholder {
    color: #ccc;
    max-width: 100%;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.subscribe-to__btn{
    height: 70px;
}

footer{
    margin-top: 80px;
    background: #0A8077;
}

.footer-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer-label{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    line-height: 141.02%;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    padding: 26px 0;
}
