@media(max-width:1170px){
    .container {
        padding: 20px; 
    }

    footer{
        padding: 0 20px; 
    }

    .nav__item:nth-child(2) {
        margin-left: 5%;
        
    }
    
    .nav__item:last-child {
        margin-left: 5%;
    }

    .nav__item{
        margin-left: 5%;
    }

    .logo{
    margin-right: 6%;
    }
}

@media(max-width: 1100px){
    .form{
        top: 88%;
    }
}
 
@media (max-width: 903px) {
   .burger{
    display: flex;
   }

   .nav__list{
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: rgb(235, 238, 238);
    animation: burgerAnimation 0.4s;
   }

   @keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

} 